
<h2>Bikes</h2>
       
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>  
        <th>Rented or not</th>     
      </tr>
    </thead>
    <tbody>
    <% for @bike in @bikes do%>
      <tr>
        <td><%=@bike.name%></td>
        <td><%=@bike.description%></td>
        <%@no_image = @bike.id % 5 + 1%>
        <td><img src="/assets/Site/bike<%=@no_image%>.jpg" width="100" height="100"></td>
        <% if Bike.is_rented(@bike) then %>
          <td>Rented</td>
        <% else %>
          <td>Not rented</td>
        <% end %>       
      </tr>
    <% end %>
    </tbody>
  </table>
