<h1>Bikes</h1>
<table class="table">
 <thead>
   <th>Name</th>
   <th>Description</th>
   <th>Operations</th>
 <thead>
 <tbody>
<% for @bike in @bikes do%>
  <tr>
    <td class="title"><%=@bike.name%></td>
    <td class="description"><%=@bike.description%></td>
   <% if current_user then %>
    <td>Request rental<td>
   <% else %>
    <td><%= link_to('Login to rent', new_user_session_path)  %> <td/>
   <% end %>
  </tr>
<% end %>
 </tbody>
</table>
